.icon-company {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.icon-image {
  width: 48px;
  height: 48px;
}
